<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/boostrap.min.css">
    <script src="https://kit.fontawesome.com/f7e339246b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Adicionar Item</title>
</head>
<body id="body">
    <header>
        <nav class="">
            <div class="row d-flex justify-content-between">
                <div class="col-4 mt-2">
                    <a href="#" class="btn btn-primary">
                        <span class="user_span">
                            <i class="fas fa-user"></i>
                        </span>
                       <span class="user_span_text"><%= usuario %></span>
                    </a>
                    <a class="btn btn-danger" href="/sair">
                        <span class="user_span">
                            <i class="fas fa-user-times"></i>
                        </span>
                        <span class="user_span_text">
                            Sair
                        </span>
                    </a>
                </div>
                <div class="col-4 mt-4">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              Depósito
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="/deposito/add_item">Adicionar Item</a></li>
                              <li><a class="dropdown-item" href="/deposito/categorias">Categorias</a></li>
                              <li><a class="dropdown-item" href="/deposito/unidade_medida">U.Medida</a></li>
                              <li><a class="dropdown-item" href="/deposito/modelos">Modelo</a></li>
                            </ul>
                          </div>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="/computadores" role="tab" aria-controls="pills-profile" aria-selected="false">Computadores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="/retiradas" role="tab" aria-controls="pills-contact" aria-selected="false">Retiradas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row justify-content-center align-items-center vh-100">
                <div class="col-auto">
                    <% if(validation.length > 0) { %>
                        <div class="col-auto">
                            <% for(let i = 0; i < validation.length; i++) { %>
                                <div class="alert alert-danger d-flex align-items-center" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                    <div>
                                      <%= validation[i].msg %>
                                    </div>
                                </div>
                            <% } %>
                            
                        </div>
                        
                    <% } %>
                    <h3 class= "mb-3">ADICIONAR ITEM</h3>
                    <form action="/deposito/add_item/salvar" method="post">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" value="<%= item.nome %>" name="nome" id="nome" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="quantidade">Quantidade</label>
                            <input type="number" value="<%= item.quantidade %>" name="quantidade" id="quantidade" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoria</label>
                            <select name="categoria" id="categoria" class="form-control">
                                <% for(let i = 0; i < categorias.length; i++) { %>
                                    <option class="form-control" value="<%= categorias[i].id %>"><%= categorias[i].nome %></option>
                                <% } %> 
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="unidade_medida">Unidade de Medida</label>
                            <select name="unidade_medida" id="unidade_medida" class="form-control">
                                <% for(let i = 0; i < unidadeMedida.length; i++) { %>
                                    <option class="form-control" value="<%= unidadeMedida[i].id %>"><%= unidadeMedida[i].nome %></option>
                                <% } %> 
                            </select>
                        </div>
                        <div class="form-group">
    
                        <div class="form-group">
                            <label for="modelo">Modelo</label>
                            <select name="modelo" id="modelo" class="form-control">
                                
                            </select>
                        </div>
    
                        <div class="row">
                            <div class="form-group d-flex justify-content-center align-items-center mt-4">
                                <input type="submit" value="Criar" class="btn btn-primary">
                                <a href="/deposito" class="btn btn-danger ml-3">Cancelar</a>
                            </div>
                        </div>
                        
                    </form>
                </div>
    
            </div>
        </div>
    </main>

   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/ajax_deposito.js"></script>

</body>
</html>